@model IEnumerable<verklegtVerkefni.Models.files>

@{
    ViewBag.Title = "Vinsælasta efni";
}
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" media="screen, projection" />
</head>
    <!--Listi af skrám-->
    <div class="middleTables">
        <h2>Vinsælasta efni</h2>
        <table id="filesTablePopular">
            <thead>
                <tr>
                    <th>Nafn</th>
                    <th class="tableCenter">Sería</th>
                    <th class="tableCenter">Þáttur</th>
                    <th>Likes</th>
                    <th>Dagsetning</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var files in Model)
                {
                    <tr>
                        <td class="nameLength">
                            @Html.ActionLink(files.name + " (" + files.language + ")", "downloadFile", new { id = files.id })
                            
                            @if (files.deaf == true)
                            {
                                <img src="~/images/deaf.jpg" />
                            }
                        </td>
                        @if (files.series < 1 && files.episode < 1)
                        {
                            <td class="tableCenter"></td>
                            <td class="tableCenter"></td>
                        }
                        else
                        {
                        <td class="tableCenter">
                            @files.series
                        </td>
                        <td class="tableCenter">
                            @files.episode
                        </td>
                        }
                        <td id="totalLikes_@files.id">
                            @files.likes<span id="like_@files.id" class="marginForLike"><a href="#" class="glyphicon glyphicon-thumbs-up" onclick="addLike(@files.id)" id="likeButton_@files.id"></a></span>
                        </td>
                        <td>
                            @files.dateOfPost
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <script type="text/javascript">
            function addLike(id) {
                $.ajax({
                    type: "POST",
                    url: "addLike",
                    data: { 'id': id },
                    success: function (data) {
                        $('#likeButton_' + id).hide();
                        $('#totalLikes_' + id).replaceWith(data);
                    }
                })
            }
        </script>

    </div>
