@model IEnumerable<verklegtVerkefni.Models.files>

@{
    ViewBag.Title = "listOfFiles";
}
<!--Listi af skrám-->
<!DOCTYPE html>
<html lang="is">
<head>
    <title>textit</title>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" media="screen, projection" />
    <script src="JavaScript.js" type="text/javascript"></script>
</head>
<body>
    <div class="middleFiles">
        <table id="filesTable">
            <thead>
                <tr>
                    <th>Nafn</th>
                    <th>Tungumál</th>
                    <th>Sería</th>
                    <th>Þáttur</th>
                    <th>Likes</th>
                    <th>Dagsetning</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model)
                {
                    <tr>
                        <td>
                            @file.name
                        </td>
                        <td>
                            @file.language
                        </td>
                        <td>
                            @file.series
                        </td>
                        <td>
                            @file.episode
                        </td>
                        <td>
                            @file.likes
                        </td>
                        <td>
                            @file.dateOfPost
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
