@model IEnumerable<verklegtVerkefni.Models.files>

@{
    ViewBag.Title = "Vinsælasta efni";
}
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" media="screen, projection" />
</head>
    <!--Listi af skrám-->
    <div class="middleTables">
        <h2>Vinsælasta efni</h2>
        <table id="filesTablePopular">
            <thead>
                <tr>
                    <th>Nafn</th>
                    <th id="tableCenter">Sería</th>
                    <th id="tableCenter">Þáttur</th>
                    <th id="tableCenter">Likes</th>
                    <th>Dagsetning</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model)
                {
                    <tr>
                        <td id="nameLength">
                            @file.name
                        </td>
                        <td id="tableCenter">
                            @file.series
                        </td>
                        <td id="tableCenter">
                            @file.episode
                        </td>
                        <td id="tableCenter">
                            @file.likes
                        </td>
                        <td>
                            @file.dateOfPost
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
