@model IEnumerable<verklegtVerkefni.Models.files>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/jquery")
    <title>searchResults</title>
</head>
<body>
    <table id="requestTable">
        <thead>
            <tr>
                <th>Stada</th>
                <th>Beidnir</th>
                <th>Likes</th>
                <th>Dagsetning</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var files in Model)
            {
                <tr>
                    <td>
                        <div id="request">@files.name (@files.language)</div>
                    </td>

                        @if (files.episode != 0)
                        {
                            <td>
                                @files.series;
                            </td>
                            <td>
                                @files.episode;
                            </td>
                        }
                        <td>
                            @files.language
                        </td>

                        <td id="totalLikes_@files.id">
                            @files.likes
                        </td>
                        <td>
                            @Html.ActionLink("Niðurhala textaskrá", "downloadFile", new { id = files.id })
                        </td>
                    <td id="like_@files.id"><a href="#" onclick="addLike(@files.id)" id="likeButton_@files.id">Like</a></td>
                </tr>
            }
        </tbody>
    </table>
    <script type="text/javascript">
        function addLike(id) {
            $.ajax({
                type: "POST",
                url: "addLike",
                data: { 'id': id },
                success: function (data) {
                    $('#likeButton_' + id).hide();
                    $('#totalLikes_' + id).replaceWith(data);
                }
            })
        }
    </script>
</body>
</html>
