@model IEnumerable<verklegtVerkefni.Models.files>
=======
@{
    ViewBag.Title = "Leitarniðutstöður";
}

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" media="screen, projection" />
</head>
    <table id="requestTable">
        <thead>
            <tr>
                <th>Nafn skráar</th>
                <th>Sería</th>
                <th>Þáttur</th>
                <th>Likes</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var files in Model)
            {
                <tr>
                    <td>
                        <div id="request">@Html.ActionLink(files.name + " (" + files.language + ")", "downloadFile", new { id = files.id })</div>
                    </td>

                        @if (files.episode != 0)
                        {
                            <td>
                                @files.series
                            </td>
                            <td>
                                @files.episode
                            </td>
                        }else
                        {
                            <td> </td>
                            <td> </td>
                        }

                        <td id="totalLikes_@files.id">
                            @files.likes<p id="like_@files.id"><a href="#" onclick="addLike(@files.id)" id="likeButton_@files.id">Like</a></p>
                        </td>
                </tr>
            }
        </tbody>
    </table>
    <script type="text/javascript">
        function addLike(id) {
            $.ajax({
                type: "POST",
                url: "addLike",
                data: { 'id': id },
                success: function (data) {
                    $('#likeButton_' + id).hide();
                    $('#totalLikes_' + id).replaceWith(data);
                }
            })
        }
    </script>

