@model IEnumerable<verklegtVerkefni.Models.files>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Leitarniðutstöður";
}

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" media="screen, projection" />
</head>
<div class="middleTables">
    @if (Request.IsAuthenticated)
    {
        <div class="uploadNewFile">
            @Html.ActionLink("Upphala nýrri skrá", "uploadFile", "file")
        </div>
    }
    <h2>Leitarniðurstöður</h2>
    <table id="searchTable">
        <thead>
            <tr>
                <th>Nafn</th>
                <th id="tableCenter">Sería</th>
                <th id="tableCenter">Þáttur</th>
                <th>Likes</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var files in Model)
            {
                <tr>
                    <td class="nameLength">
                        <span id="request">@Html.ActionLink(files.name + " (" + files.language + ")", "editFile", new { id = files.id })</span>
                        @if (files.deaf == true)
                        {
                            <img src="~/images/deaf.jpg" />
                        }
                     </td>

                        @if (files.episode != 0)
                        {
                            <td class="tableCenter">
                                @files.series
                            </td>
                            <td class="tableCenter">
                                @files.episode
                            </td>
                        }
                        else
                        {
                            <td class="tableCenter"> </td>
                            <td class="tableCenter"> </td>
                        }

                    <td id="totalLikes_@files.id">
                        @files.likes<span id="like_@files.id" class="marginForLike"><a href="#" class="glyphicon glyphicon-thumbs-up" onclick="addLike(@files.id)" id="likeButton_@files.id"></a></span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <script type="text/javascript">
        function addLike(id) {
            $.ajax({
                type: "POST",
                url: "addLike",
                data: { 'id': id },
                success: function (data) {
                    $('#likeButton_' + id).hide();
                    $('#totalLikes_' + id).replaceWith(data);
                }
            })
        }
    </script>

