@model verklegtVerkefni.Models.files

@{
    ViewBag.Title = "Upphala skrá";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" media="screen, projection" />
    <title>uploadFile</title>
</head>
<body>
    <div class="middleUpload">
        @using (Html.BeginForm("uploadFile", "file", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h2>Upphala skrá</h2>
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        Hakaðu við hér ef skráin er þáttur <input type="checkbox" id="check" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.name)
                        @Html.ValidationMessageFor(model => model.name)
                    </div>
                </div>
                <div id="epe">
                    <div class="form-group">
                        @Html.LabelFor(model => model.series, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.series)
                            @Html.ValidationMessageFor(model => model.series)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.episode, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.episode)
                            @Html.ValidationMessageFor(model => model.episode)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.language, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <label>@Html.RadioButtonFor(model => model.language, "Íslenska", new { @checked = true })Íslenska</label>
                        <label>@Html.RadioButtonFor(model => model.language, "Enska", new { @checked = true })Enska</label>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.deaf, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(model => model.deaf, new { @checked = "checked" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="file" name="uploadFile" id="uploadFile" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Upphala" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
        <script type="text/javascript">

            var show = document.getElementById('epe');
            var check = document.getElementById('check');

            show.style.display = 'none';

            check.onclick = function () {
                if (show.style.display == 'block') {
                    show.style.display = 'none';
                }
                else {
                    show.style.display = 'block';
                }
            }

        </script>
</body>
</html>
