@model IEnumerable<verklegtVerkefni.Models.Requests>

@{
    ViewBag.Title = "listOfRequests";
}
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" media="screen, projection" />
</head>
<!--Listi af beiðnum-->
        <div class="middleRequest">
            <p class="newRequestLink">
                @Html.ActionLink("Senda inn beiðni", "newRequest", "requests")
            </p>
             <h2>Beiðnir</h2>
                <table id="requestTable">
                    <thead>
                        <tr>
                            <th>Beidnir</th>
                            <th>Likes</th>
                            <th>Dagsetning</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var request in Model)
                        {
                            <tr>
                                <td>
                                <div id="request">@Html.ActionLink(request.name, "viewRequest", new { id = request.id })</div>
                                @if (request.deaf == true)
                                {
                                    <img src="~/images/deaf.jpg" />
                                }
                                </td>
                                <td id="totalLikes_@request.id">
                                    @request.likes<span id="like_@request.id" class="marginForLike"><a href="#" class="glyphicon glyphicon-thumbs-up" onclick="addLike(@request.id)" id="likeButton_@request.id"></a></span>
                                </td>
                                <td>
                                    @request.dateOfPost
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            <script type="text/javascript">
                function addLike(id) {
                    $.ajax({
                        type: "POST",
                        url: "addLike",
                        data: { 'id': id },
                        success: function (data) {
                            $('#likeButton_' + id).hide();
                            $('#totalLikes_' + id).replaceWith(data);
                        }
                    })
                }
            </script>
            </div> <!--middle content lokast-->  

