@{
    ViewBag.Title = "Home Page";
}
<!--forsida-->
@Html.ActionLink("listof reqeuestsrtsttst", "listOfRequests", "requests")
@Html.ActionLink("Register new user", "register", "user")
<html lang="is">
<head>
    <title>textit</title>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" />
</head>
<body>
    <div id="logo">
        <a href="#"><img src="~/images/logo.jpg"></a>
    </div>

    <div id="header">
        <a href="#" id="index">@Html.ActionLink("Forsíða", "Index", "Home")</a> | <a href="#">@Html.ActionLink("Beiðnir", "listOfRequests", "requests")</a> |
        <a href="#">Leidbeiningar</a> | <a href="#">Hafa samband </a>
    </div>

    <div id="logIn">
        <select name="LogIn">
            <option value="userName">BubblePrincess</option>
            <option value="profile">Profile</option>
            <option value="logOut">Skra ut</option>
        </select>
    </div>

    <div id="prevNextButtons">
        <p id="nextPrevButton"><a href="#">&gt</a><p>
        <p id="nextPrevButton"><a href="#">&lt</a><p>
    </div>

    <div class="popular">
        <h4> Vinsaelast </h4>
        <ul id="listOfPopular">
            <li><a href="#">Textaskra 1</a></li>
            <li><a href="#">Textaskra 2</a></li>
            <li><a href="#">Textaskra 3</a></li>
            <li><a href="#">Textaskra 4</a></li>
            <li><a href="#">Textaskra 5</a></li>
            <li id="seeMorePopular"><a href="#">Sja meira</a></li>
        </ul>
    </div>

    <div class="newContent">
        <h4> Nyjasta efni </h4>
        <ul id="listOfNewContent">
            <li><a href="#">Textaskra 1</a></li>
            <li><a href="#">Textaskra 2</a></li>
            <li><a href="#">Textaskra 3</a></li>
            <li><a href="#">Textaskra 4</a></li>
            <li><a href="#">Textaskra 5</a></li>
            <li id="seeMoreNewContent"><a href="#">Sja meira</a></li>
        </ul>
    </div>

    <div id="Ads">
        <div id="Ad1">
            <p> Auglysing 1 </p>
        </div>
        <div id="Ad2">
            <p> Auglysing 2 </p>
        </div>
        <div id="Ad3">
            <p> Auglysing 3 </p>
        </div>
    </div>
</body>
</html>
=======
@Html.ActionLink("listof reqeuestsrtsttst", "listOfRequests", "requests")