<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" media="screen, projection" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
   @Scripts.Render("~/bundles/jquery")
     @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @RenderSection("scripts", required: false)

</head>
<body>
    <div id="mainContent">
        <div id="logo">
            @Html.ActionLink(" ", "Index", "Home", null, new{ style = "background: url('" + Url.Content("~/images/hipsterLogo.png") + "') no-repeat center right; display:block; height:200px; width:20%;"})
        </div>
        <div id="logIn">
            @Html.Partial("_logInPartial")
        </div>
        <div id="header">
            <div id="navigation" class="active">
                <ul>
                    <li>@Html.ActionLink("Forsíða", "Index", "Home")</li>
                    <li>@Html.ActionLink("Beiðnir", "listOfRequests", "requests")</li>
                    <li>@Html.ActionLink("Leiðbeiningar", "instructions", "Home")</li>
                    <li class="last">@Html.ActionLink("Hafa samband", "information", "Home")</li>
                </ul>
            </div>
        </div>

        <div class="left">
            <div class="popular">
                <h4> Vinsælast </h4>
                <ul id="listOfPopular">
                    <li><a href="#">Textaskrá 1</a></li>
                    <li><a href="#">Textaskrá 2</a></li>
                    <li><a href="#">Textaskrá 3</a></li>
                    <li><a href="#">Textaskrá 4</a></li>
                    <li><a href="#">Textaskrá 5</a></li>
                    <li id="seeMorePopular">@Html.ActionLink("Sjá meira", "popular", "file")</li>
                </ul>
            </div>

            <div class="newContent">
                <h4> Nýjasta efni </h4>
                <ul id="listOfNewContent">
                    <li><a href="#">Textaskrá 1</a></li>
                    <li><a href="#">Textaskrá 2</a></li>
                    <li><a href="#">Textaskrá 3</a></li>
                    <li><a href="#">Textaskrá 4</a></li>
                    <li><a href="#">Textaskrá 5</a></li>
                    <li id="seeMoreNewContent">@Html.ActionLink("Sjá meira", "newest", "file")</li>
                </ul>
            </div>
        </div> <!--Left content lokast-->
        <div class="container body-content">
            @RenderBody()
        </div>
        <div class="right">
            <div id="Ads">
                <div id="Ad1">
                    <img src="~/images/netflix.jpg" alt="ad1" width="200" height="200" /> 
                </div>
                <div id="Ad2">
                    <img src="~/images/Sena.JPG" alt="ad2" width="200" height="200" /> 
                </div>
                <div id="Ad3">
                    <img src="~/images/subway.jpg" alt="ad3" width="200" height="200" /> 
                </div>
            </div>
        </div><!--right content lokast-->
    </div>
    <footer class="footerMain">
        <p>Aðalgata 1, 101 Reykjavík</p>
        <p>texit@textit.is</p>
        <p>555-5555</p>
        <p>kt. 123456-7890</p>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    
</body>
</html>
